<div class="{{ class }}" id="{{ id }}">
    {{ form_widget(form) }}
</div>

<script data-main="{{ asset('/bundles/phporchestradisplay/block/LanguageList/js/loadJs.js') }}" src="{{ asset('/bundles/phporchestradisplay/libs/require.js') }}"></script>
