<div class="{{ class.div }}" id="{{ id }}">
    {% for content in contents %}
        <h2 class="{{ class.title }}">
            {% if url is defined %}
                <a href="{{ url }}?contentId={{ content.contentId }}" class="">{{ content.name }}</a>
            {% else %}
                {{ content.name }}
            {% endif %}
        </h2>
        <ul class="{{ class.ul }}">
            {% for attribute in content.attributes %}
                title: <i>{{ attribute.name }}</i><br />
                value: <i>{{ attribute.value }}</i><br />
            {% endfor %}
        </ul>
        <br />
    {% endfor %}
</div>
