<div class="{{ class.div }}" id="{{ id }}">
    {% for content in contents %}
        <div class="{{ class.each }}">
            <span class="{{ content.attributes.values.1.name }}">{{ content.attributes.values.1.value }}</span>
            <h2 class="{{ class.title }}">{{ content.name }}</h2>
            <p>
                {{ content.attributes.values.4.value | truncate(70, true, '...') }}
            </p>

            {% if url is defined %}
                <a href="{{ url }}?contentId={{ content.contentId }}" class=""></a>
            {% endif %}
        </div>
    {% endfor %}
</div>
