{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <div class="content-list">
        {% for content in contents %}
            {% if contentFromTemplate[content.id] is defined and contentFromTemplate[content.id] is not null %}
                {{ contentFromTemplate[content.id]|raw }}
            {% else %}

                <div>
                    <h2>
                        {% if contentNodeId is defined %}
                            <a href="{{ url(contentNodeId, {'contentId' : content.contentId} ) }}">{{ content.name }}</a>
                        {% else %}
                            {{ content.name }}
                        {% endif %}
                    </h2>
                    {% for attribute in content.attributes %}
                        <p><b>{{ attribute.name }}:</b> {{ attribute.value }}</p>
                    {% endfor %}
                </div>

            {% endif %}
        {% endfor %}
    </div>

    <script src="{{ asset('/bundles/openorchestradisplay/block/ContentList/js/blockLoader.js') }}"></script>
{% endblock %}
