{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    {% for content in contents %}
        {% if contentFromTemplate[content.id] is defined and contentFromTemplate[content.id] is not null %}
            {{ contentFromTemplate[content.id]|raw }}
        {% else %}
            <div>
                {% if content.attributeByName('publish_start') is not null %}
                    <span class="publish_start">{{ content.attributeByName('publish_start') }}</span>
                {% endif %}
                <h2>{{ content.name }}</h2>
                <p>
                    {{ content.attributeByName('title') }}
                </p>
                <p>
                    {{ content.attributeByName('intro') }}
                </p>

                {% if contentNodeId is defined %}
                    <a href="{{ url(contentNodeId, {'contentId' : content.contentId} ) }}"></a>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <script data-main="{{ asset('/bundles/openorchestradisplay/block/ContentList/js/loadCss.js') }}" src="{{ asset('/bundles/openorchestradisplay/libs/require.js') }}"></script>
{% endblock %}
