{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    {% for content in contents %}
        {% if contentFromTemplate[content.id] is defined and contentFromTemplate[content.id] is not null %}
            {{ contentFromTemplate[content.id]|raw }}
        {% else %}
            <div>
                {% if content.attributeByName('publish_start') is not null %}
                    <span class="publish_start">{{ content.attributeByName('publish_start') }}</span>
                {% endif %}
                <h2>{{ content.name }}</h2>
                <p>
                    {{ content.attributeByName('title') }}
                </p>
                <p>
                    {{ content.attributeByName('intro') }}
                </p>

                {% if contentNodeId is defined %}
                    <a href="{{ url(contentNodeId, {'contentId' : content.contentId} ) }}"></a>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <script type="text/javascript">
        function callCss(file){
            var linkElement = document.createElement("link");
            linkElement.rel = "stylesheet";
            linkElement.href = file;
            document.head.appendChild(linkElement);
        }

        callCss('/bundles/openorchestradisplay/block/ContentList/css/style.css');
    </script>
{% endblock %}
