<div class="{{ class.div }}" id="{{ id }}">
    {% for content in contents %}
        <div class="{{ class.each }}">
            <h2 class="{{ class.title }}">{{ content.name }}</h2>
            <div class="attributes">
                {{ content.attributes.values.1.value }}<br />
                {{ content.attributes.values.4.value | truncate(70, true, '...') }}
            </div>

            {% if url is defined %}
                <a href="{{ url }}?contentId={{ content.contentId }}" class=""></a>
            {% endif %}
        </div>
    {% endfor %}
</div>
