<div class="{{ class }}" id="{{ id }}">
    {% for content in contents %}
        <div>
            <span class="{{ content.attributes.1.name }}">{{ content.attributes.1.value }}</span>
            <h2>{{ content.name }}</h2>
            <p>
                {{ content.attributes.4.value | truncate(characterNumber, true, '...') }}
            </p>

            {% if url is defined %}
                <a href="{{ url }}/{{ content.contentId }}"></a>
            {% endif %}
        </div>
    {% endfor %}
</div>
