<div class="{{ class.div }}" id="{{ id }}">
    {% for content in contents %}
        <div class="{{ class.each }}">
            <h2 class="{{ class.title }}">{{ content.name }}</h2>
            <div class="attributes">
                {% for attribute in content.attributes %}
                    <div class="{{ attribute.name }}">{{ attribute.value }}</div>
                {% endfor %}
            </div>

            {% if url is defined %}
                <a href="{{ url }}?contentId={{ content.contentId }}" class=""></a>
            {% endif %}
        </div>
    {% endfor %}
</div>
