<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=1&amp;ll={{ latitude }},{{ longitude }}&amp;spn=0.006173,0.013239&amp;t=m&amp;z={{ zoom }}&amp;output=embed"></iframe>
<br />
<small>
    <a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=1&amp;ll={{ latitude }},{{ longitude }}&amp;spn=0.006173,0.013239&amp;t=m&amp;z={{ zoom }}&amp;source=embed" style="color:#0000FF;text-align:left">{{ "php_orchestra_display.gmap.enlarge" }}</a>
</small>
