<div class="{{ class.div }}" id="{{ id }}">
    <h1 class="{{ class.title }}">{{ content.name }}</h1>
    {% for attribute in content.attributes %}
        <div class="{{ class.content }} {{ attribute.name }}"> {{ attribute.value }}</div>
    {% endfor %}
</div>
